
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}    

body{
    background: #121214;
    font-size: 10px;
    font-family: sans-serif;
}



.margin-y{
    margin: 5px 0;
}

.line{
    width: 100%;
    height: 15px;
    position: absolute;
    background: #cd5d7d;
    border-radius: 10px;
    display: none;
}

.aside-panel {
    position: fixed;
    left: 0;
    top: 0;
    width: 15%;
    background: #03506f;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.aside-panel button {
    width: 80%;
    height: 100px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    background: #a685e2;
    border-bottom: inset 5px #c9cbff;
    color: #fff;
    cursor: pointer;
    transition: .2s ease-out;
    font-size: 1.2rem;
    outline: none;
}

.aside-panel .aside-panel-btn-reset__bg-purple{
    background: #654062;
    border-bottom: inset 5px #52057b;
}

.aside-panel button:hover{
    filter: brightness(.8);
    transition: .2s ease-out;
}

.player-turn {
    text-align: center;
    color: #fff;
    margin: 2rem 0;
    font-size: 1.5rem;
}

.wrapper-hashgame{
    width: 60%;
    height: 73%;
    background: white;
    margin: 15vh auto 0;
    position: relative;
}

.wrapper-hashgame .row{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.wrapper-hashgame .row .input{
    background: #121214;
    width: 33%;
    height: auto;
    font-size: 10rem;
    color: #fff;
    outline: none;
    border: none;
    padding-left: 8.5%;
    text-transform: uppercase;
}

.wrapper-hashgame .row .input:focus{
    background: #cd5d7d;
}


@media (max-width: 576px){

    .wrapper-hashgame {
    width: 90%;
    margin: 15% auto;
    border: none;
    }

    .wrapper-hashgame .row .input{
        font-size: 5rem;
    }

    .aside-panel {
    bottom: 0;
    left: 0;
    height: 10%;
    width: 100%;
    top: unset;
    flex-flow: row nowrap;
    }

    .aside-panel button {
    width: 30%;
    height: 80%;
    font-size: .9rem;
    }

    .player-turn {
    font-size: .8rem;
    width: 40%;
    margin: 0;
}
}